<meta charset="UTF8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
<link rel="manifest" href="/assets/manifest/site.webmanifest" />

<title>{{title}}</title>
<meta description="{{excerpt}}" />
<meta name="keywords" content="{{keywords}}" />
<link rel="canonical" href="{{permalink}}" />

<meta property="og:type" content="{{ogtype}}" /> 
<meta property="og:title" content="{{title}}" /> 
<meta property="og:description" content="{{excerpt}}" /> 
<meta property="og:image" content="{{thumbnail}}" /> 
<meta property="og:url" content="{{permalink}}" /> 
<meta property="og:site_name" content="{{site_name}}" />

<meta name="twitter:title" content="{{title}}"> 
<meta name="twitter:description" content="{{excerpt}}"> 
<meta name="twitter:image" content="{{thumbnail}}"> 
<meta name="twitter:site" content="{{twitter_site}}"> 
<meta name="twitter:creator" content="{{twitter_creator}}">

<script async defer src="/vendor/hljs/highlight.min.js"></script>

<!-- <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" /> -->

<link rel="preload" href="/assets/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/assets/css/styles.css"></noscript>

{{#if SOCKETS}}
<script>
const socket = new WebSocket("ws://localhost:8080");

socket.addEventListener("message", (event) => {
  if (event.data === 'RELOAD') {
    console.log('RELOADING...')
    location.reload();
  }
});
</script>
{{/if}}